.jumbotron {
  background-image: url('/assets/images/header.jpg');
}
ul.gallery li {
  list-style:none;
  margin-bottom:25px;
  height: 250px;
}
ul.gallery li img {
  cursor: pointer;
}
h1 {
  text-shadow:
  -2px -2px 0 #ddd,  
  2px -2px 0 #ddd,
  -2px 2px 0 #ddd,
  2px 2px 0 #ddd;
}
