<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Photos of Blacklion and beyond">
    <meta name="author" content="Tony Griffin">

    <title>{{ page.title }} | {{ site.site.title }}</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="/assets/css/pob.css">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Photos of Blacklion</h1>
      </div>
    </div>

    <div class="container">
      {{ content }}

      <hr>

      <footer>
      <p>&copy; Tony Griffin 2015</p>
      </footer>
    </div> <!-- /container -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-image-gallery.min.js"></script>
  </body>
</html>

